@import "../../styles/main";

/* Welcome */
.welcome {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-color: $bgcolor-primary;
  width: 100%;
  height: 100%;
  .main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    .main-left__heading {
      h1 {
        font-size: 50px;
        margin-bottom: 30px;
        color: $color-text-primary;
      }
      p {
        font-size: 27px;
        font-weight: 300;
        margin-bottom: 30px;
        color: $color-text-primary;
      }
    }
    button {
      padding: 15px 40px;
      font-size: 1.2em;
      font-weight: 400;
      color: $color-text-secondary;
      background: none;
      border: 2px solid $color-text-secondary;
      width: 100%;
      &:hover {
        color: white;
        background: $color-text-secondary;
        cursor: pointer;
      }
    }
  }
  .footer {
    .copyright {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid $color-text-primary;
      width: 100%;
      padding-top: 10px;
      p {
        font-size: 12px;
      }
      .footer__logo {
        width: 80px;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 448px) {
  .welcome {
    .main-left {
      .main-left__heading {
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 32px;
        }
      }
      button {
        width: fit-content;
      }
    }
  }
}

@media (min-width: 1024px) {
  .welcome {
    .main-left {
      button {
        width: fit-content;
      }
    }
    .footer {
      .copyright {
        justify-content: flex-end;
      }
    }
  }
}

/* Animate */
.animate {
  opacity: 0;
  animation: fadeIn 0.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
