.logo {
  grid-area: logo;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
  display: none;
}
.price {
  grid-area: price;
}
.main-left {
  grid-area: main-left;
}
.main-right {
  grid-area: main-right;
}
.footer {
  grid-area: footer;
}
.nav {
  grid-area: nav;
}

.grid-template-welcome {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header"
    "main-left"
    "footer";
  grid-gap: 10px;
  padding: 20px;
}

.grid-template-app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "logo"
    "header"
    "main-left"
    "main-left"
    "main-right"
    "main-right"
    "price"
    "nav"
    "footer";
  grid-gap: 1px;
  div {
    background-color: red;
    padding: 10px;
  }
}

@media (min-width: 540px) {
  .grid-template-app {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "logo header header header"
      "main-left main-left main-right main-right"
      "main-left main-left main-right main-right"
      "main-left main-left main-right main-right"
      "price price price price"
      "footer nav nav nav";
    div {
      background-color: yellow;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
  .grid-template-app {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "logo logo header header header header header header"
      "sidebar sidebar main-left main-left main-left main-right main-right main-right"
      "sidebar sidebar main-left main-left main-left main-right main-right main-right"
      "sidebar sidebar main-left main-left main-left main-right main-right main-right"
      "price price main-left main-left main-left main-right main-right main-right"
      "footer footer nav nav nav nav nav nav";
    grid-gap: 1px;
    div {
      background-color: blue;
    }
  }

  .grid-template-welcome {
    grid-gap: 10px;
    padding: 20px;
  }
}
