@import "./reset";
@import "./fonts";
@import "./grid";
@import "./variables";
@import "./mixins";

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
