@import "./reset";
@import "./fonts";
@import "./welcome-grid";
@import "./dashboard-grid";
@import "./variables";
@import "./mixins";

html {
  font-size: 16px;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Animate */
.animate {
  opacity: 0;
  animation: fadeIn 0.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
