@import "../../styles/main";

.selectOther {
  padding: 10px;
  .selectOther__container {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    .selectOther__title {
      text-decoration: underline;
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .selectOther__img {
      margin-bottom: 20px;
      img {
      max-width: 100%;
      height: auto;
      }
    }
    .selectOther__description {
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.2rem;
      margin-bottom: 40px;
    }
    form {
        padding: 0 10px;
        label {
            font-size: 0.75rem;
            input,
            textarea {
                padding: 10px;
                width: 100%;
                margin: 10px 0;
            }
        }
    }
    .imageUploader {
      .imageUploader__btn {
      padding: 10px 20px;
      font-size: 0.875rem;
      font-weight: 400;
      color: $color-text-secondary;
      background: none;
      border: 2px solid $color-text-secondary;
      border-radius: 0;
      width: fit-content;
      &:hover {
        color: white;
        background: $color-text-secondary;
        cursor: pointer;
      }
    } 
    }  
  }
}





@media (min-width: 540px) {
  .selectOther {
    display: flex;
  .selectOther__container {
    width: 50%;
     .selectOther__img {
       img {
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        display: block;
        }
      }
    }
  }
}